* {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

.w-max.ct {
  width: 1200px;
  margin: 0px auto;
}

.clear {
  clear: both;
}

.header-top {
  height: 25px;
  border-bottom: 1px solid #ddd;
  background: #f5f5f5;
}
.header-top .header-top-l {
  height: 25px;
  float: left;
}
.header-top .header-top-l .epet-index-brand {
  font-size: 12px;
  line-height: 25px;
  color: #444;
  margin-right: 5px;
}
.header-top .header-top-l .epet-index-brand:hover {
  color: #248DCC;
}
.header-top .header-top-l span {
  font-size: 12px;
  padding-right: 10px;
  color: #444;
}
.header-top .header-top-l .a1 {
  font-size: 12px;
  margin-left: 5px;
  color: #444;
}
.header-top .header-top-l .a1:hover {
  color: orange;
}
.header-top .header-top-r {
  float: right;
  height: 25px;
}
.header-top .header-top-r ul {
  display: flex;
}
.header-top .header-top-r ul li {
  margin: 0 10px;
  line-height: 25px;
}
.header-top .header-top-r ul li:hover a {
  color: #248DCC;
}
.header-top .header-top-r ul a {
  font-size: 12px;
  color: #444;
}

.left {
  float: left;
  width: 200px;
  height: 94px;
  background: url(../img/epet-logo.png) no-repeat;
}

.center {
  float: left;
  position: relative;
  margin-top: 30px;
  margin-left: 100px;
  height: 94px;
}
.center input {
  border: #459d36 solid 2px;
  padding: 0 5px 0 15px;
  width: 382px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.center button {
  width: 73px;
  height: 34px;
  vertical-align: top;
  cursor: pointer;
  background-color: #459d36;
  color: #FFF;
  font-size: 14px;
  border: none;
  position: absolute;
  right: -70px;
  top: 0px;
}
.center ul {
  height: 25px;
  margin-top: 10px;
  display: flex;
}
.center ul li {
  margin-right: 8px;
  font-size: 12px;
  line-height: 25px;
  color: #999;
}
.center ul li:hover a {
  color: #333;
}
.center ul .a2 {
  color: red;
}
.center ul li:hover .a2 {
  color: red;
}
.center ul a, .center ul span {
  color: #999;
  font-size: 12px;
  line-height: 25px;
}
.center ul span {
  margin: 0px 10px;
}

.right {
  float: right;
  background: url(../img/shopping-cart.gif) no-repeat;
  margin-top: 37px;
  margin: 23px 0 0;
  width: 130px;
  height: 39px;
  text-align: center;
  text-indent: 2em;
}
.right a {
  color: #444;
  line-height: 39px;
  font-size: 12px;
}

.nav-l {
  float: left;
  height: 34px;
  line-height: 34px;
}
.nav-l span a {
  display: inline-block;
  width: 112px;
  height: 35px;
  text-align: center;
  border: 1px solid #e1e1e1;
  color: #666;
  cursor: pointer;
  margin: none;
}
.nav-l .active {
  background: rgba(205, 64, 64, 0.9);
  color: #fff;
}

.u-1 {
  float: left;
  display: flex;
  padding: 0 30px;
}
.u-1 li {
  line-height: 34px;
  margin-left: 34px;
}
.u-1 li i {
  display: inline-block;
  width: 13px;
  height: 17px;
  background: url(../img/bg2.png) no-repeat;
  background-position: -35px -1280px;
}
.u-1 li a {
  color: #000;
  font-size: 17px;
  font-weight: 800;
  height: 34px;
  line-height: 34px;
}
.u-1 li:hover a {
  color: #409b49;
}

.sensor {
  height: 360px;
  border: 1px solid red;
  position: relative;
}
.sensor .catelist {
  width: 228px;
  position: absolute;
  top: 0px;
  border: 1px solid lightgreen;
  left: 160px;
}
.sensor .c-l-1 {
  width: 228px;
  height: 180px;
  border: 1px solid green;
  background: #f5f5f5;
}
.sensor .c-l-2 {
  width: 228px;
  height: 180px;
  border: 1px solid blue;
}
.sensor .banner {
  width: 770px;
  height: 360px;
  border: 1px solid blue;
  position: absolute;
  top: 0px;
  left: 389px;
}
.sensor .fr.main_r {
  width: 200px;
  background: #fff;
  margin-right: 5px;
  float: right;
}
.sensor .fr.main_r a {
  display: block;
  border-bottom: 1px dashed #444;
}
.sensor .fr.main_r img {
  width: 200px;
  height: 120px;
}

.epetfoodblock.mt30 {
  margin-top: 30px;
  height: 10px;
}
.epetfoodblock.mt30 .main-t i {
  float: left;
  font-size: 18px;
  padding-right: 5px;
  height: 30px;
  border: 1px solid green;
}
.epetfoodblock.mt30 .main-t ul {
  float: right;
  display: flex;
  border-left: 1px solid #e7e7e7;
  margin-right: 0;
}
.epetfoodblock.mt30 .main-t ul li {
  font-size: 14px;
  height: 33px;
  text-align: center;
}
.epetfoodblock.mt30 .main-c {
  display: flex;
}
.epetfoodblock.mt30 .main-c .main-c-l {
  position: relative;
}
.epetfoodblock.mt30 .main-c .main-c-l img {
  width: 328px;
  height: 477px;
}
.epetfoodblock.mt30 .main-c .main-c-l .nei-ul {
  position: absolute;
  top: 329px;
  left: 0px;
}
.epetfoodblock.mt30 .main-c .main-c-l .nei-ul ul {
  display: flex;
  flex-wrap: wrap;
  width: 102px;
}
.epetfoodblock.mt30 .main-c .main-c-l .nei-ul ul li {
  width: 34px;
  margin: 10px 5px;
  border-radius: 30px;
  background: white;
  color: #000;
  font-size: 12px;
}
.epetfoodblock.mt30 .main-c .main-c-r .m-l {
  float: left;
}
.epetfoodblock.mt30 .main-c .main-c-r .m-l .n1 {
  font-size: 16px;
  color: #000;
}
.epetfoodblock.mt30 .main-c .main-c-r .m-l .n2 {
  font-size: 14px;
  margin-top: 5px;
  color: #f40;
}
.epetfoodblock.mt30 .main-c .main-c-r .m-l img {
  width: 389px;
  height: 299px;
}
.epetfoodblock.mt30 .main-c .main-c-r .m-r {
  float: right;
}
.epetfoodblock.mt30 .main-c .main-c-r .m-r .n1 {
  font-size: 16px;
  color: #000;
}
.epetfoodblock.mt30 .main-c .main-c-r .m-r .n2 {
  font-size: 14px;
  margin-top: 5px;
  color: #f40;
}
.epetfoodblock.mt30 .main-c .main-c-r .m-b .n1 {
  font-size: 16px;
  color: #000;
}
.epetfoodblock.mt30 .main-c .main-c-r .m-b .n2 {
  font-size: 14px;
  margin-top: 5px;
  color: #f40;
}
.epetfoodblock.mt30 .main-b ul {
  display: flex;
}
.epetfoodblock.mt30 .main-b ul li {
  width: 148px;
  height: 66px;
  border-left: 1px solid #e7e7e7;
  overflow: hidden;
  text-align: center;
}
.epetfoodblock.mt30 .main-b ul li img {
  width: 100px;
  height: 48px;
  margin-top: 8px;
}

.foot-content {
  background: #f5f5f5;
}
.foot-content .foot-top {
  border-bottom: 1px solid #e5e5e5;
}
.foot-content .foot-top ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0px;
  height: 100px;
}
.foot-content .foot-top ul li {
  width: 200px;
  line-height: 100px;
  background: url(../img/logo.png) no-repeat;
}
.foot-content .foot-top ul li:hover a {
  color: #ed4044;
  transform: translateY(-5px);
}
.foot-content .foot-top ul a {
  display: block;
  width: 128px;
  height: 62px;
  font-size: 18px;
  padding-left: 72px;
  line-height: 62px;
  color: #444;
  font-weight: 700;
}
.foot-content .foot-bottom {
  margin-top: 15px;
}
.foot-content .foot-bottom .foot-b-l {
  float: left;
  display: flex;
  padding-bottom: 20px;
}
.foot-content .foot-bottom .foot-b-l img {
  width: 105px;
  height: 99px;
  margin-right: 25px;
  margin-top: 15px;
}
.foot-content .foot-bottom .foot-b-l .b-r {
  padding-top: 10px;
}
.foot-content .foot-bottom .foot-b-l .b-r h2 {
  color: #666;
  font-weight: 700;
  font-size: 14px;
}
.foot-content .foot-bottom .foot-b-l .b-r P {
  margin-top: 15px;
  color: #666;
  font-size: 20px;
}
.foot-content .foot-bottom .foot-b-l .b-r P span {
  font-size: 12px;
}
.foot-content .foot-bottom .foot-b-l .b-r .p1 {
  font-size: 12px;
}
.foot-content .foot-bottom .foot-b-r {
  padding-top: 10px;
}
.foot-content .foot-bottom .foot-b-r .f-b-c {
  float: left;
  margin-right: 80px;
  margin-left: 40px;
}
.foot-content .foot-bottom .foot-b-r .f-b-c h2 {
  color: #666;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 15px;
}
.foot-content .foot-bottom .foot-b-r .f-b-c p {
  margin-bottom: 5px;
}
.foot-content .foot-bottom .foot-b-r .f-b-c p a {
  color: #000;
  font-size: 14px;
}
.foot-content .foot-bottom .foot-b-r .f-b-c p a:hover {
  color: #ed4044;
  text-decoration: underline;
}
.foot-content .foot-bottom .foot-c {
  float: left;
  margin-top: -5px;
  margin-left: 20px;
  margin-right: 45px;
}
.foot-content .foot-bottom .foot-c .pp {
  margin-bottom: 5px;
}
.foot-content .foot-bottom .foot-c p {
  text-align: center;
  font-size: 12px;
}
.foot-content .foot-bottom .foot-c img {
  width: 90px;
  height: 90px;
}
.foot-content .foot-bottom .biao {
  padding: 20px 0 20px;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}
.foot-content .foot-bottom .biao span a {
  display: inline-block;
  margin: 0 15px 10px 0;
  color: #666;
  font-size: 12px;
}
.foot-content .foot-bottom .biao span a:hover {
  color: #ed4044;
  text-decoration: underline;
}
.foot-content .foot-bottom .biao span img {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 5px;
}
.foot-content .foot-bottom .tu {
  text-align: center;
}
.foot-content .foot-bottom .zhuce {
  text-align: center;
  padding: 20px 0 40px;
  font-size: 12px;
}
.foot-content .foot-bottom .zhuce a {
  color: #444;
  font-size: 12px;
  margin-right: 10px;
}
.foot-content .foot-bottom .zhuce a:hover {
  color: #ed4044;
  text-decoration: underline;
}

/*# sourceMappingURL=index.css.map */
